#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

/*Landing Page*/
.app {
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./images/background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  background-image: url('./images/narrator_app.png');
  background-repeat: no-repeat;
  background-position: 50%;
  height: 30%;
  width: 30%;
}

/* card */
.card {
  background:rgba(255, 255, 255, 0.5);
  width: 40%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px;
}
/* Text*/
.heading {
  display: flex;
  align-items: center;
  height: 350px;
  font-family: 'Spartan', sans-serif;
}
/* Generator*/
.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 200px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
}
 /*Button Text*/ 
.button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
  /* On MouseOver Effect*/
.button:hover {
  animation: rotate 0.7s ease-in-out both;
}
  
.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
  
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
  
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}  
/* Responsive card*/
@media only screen and (max-width: 1007px) {
  .card {
      width: 60%;
      height: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
      width: 80%;
      height: 40%;
  }
}